<mat-card class = "card">
    <mat-card-title>Anadir Contacto</mat-card-title>
    <mat-card-content class = "card-content">
    <form (submit)="updateContact()">
        <mat-form-field appearance = "outline">
        <mat-label>Nombre</mat-label>
        <input matInput type = "text" name = "name" [(ngModel)] = "contact.name">
        </mat-form-field>
        <mat-form-field appearance = "outline">
        <mat-label>Primer Apellido</mat-label>
        <input matInput type = "text" name = "firstsurname" [(ngModel)] = "contact.firstsurname">
        </mat-form-field>
        <mat-form-field appearance = "outline">
        <mat-label>Segundo Apellido</mat-label>
        <input matInput type = "text" name = "secondsurname" [(ngModel)] = "contact.secondsurname">
        </mat-form-field>
        <mat-form-field appearance = "outline">
        <mat-label>Teléfono</mat-label>
        <input matInput type = "number" name = "phonenumber" [(ngModel)] = "contact.phonenumber">
        </mat-form-field>
        <mat-form-field appearance = "outline">
        <mat-label>Email</mat-label>
        <input matInput type = "email" name = "mail" [(ngModel)] = "contact.mail">
        </mat-form-field>
        <div class = "button">
        <button id="button-save" mat-raised-button color = "primary" type = "submit">
            <mat-icon>save</mat-icon>
        </button>
        <button id="button-cancel" mat-raised-button color = "warn" type = "button" (click)="cancelUpdate()">
            <mat-icon>cancel</mat-icon>
        </button>
        </div>
    </form>
    </mat-card-content>
</mat-card>

