.card{
    margin: 20px 40px 0px 40px;
  }
  
  form{
    display: flex;
    flex-direction: column;
  }
  
  .button{
    display: flex;
    justify-content: flex-end;
  }
  
  .button button{
    margin-left: 1%;
  }
  .active{
    margin: 0px 40px 30px 10px;
  }
  #button-save:hover{
    background-color: rgb(47, 47, 250);
  }
  #button-cancel:hover{
    background-color: rgb(231, 2, 2);
  }