<mat-card class="card">
  <mat-card-title>Detalle del producto</mat-card-title>
  <mat-card-content class="card-content">
    <p>
      <mat-icon>shop</mat-icon> <strong>Nombre:</strong> {{ product.name }}
    </p>
    <p>
      <mat-icon>equalizer</mat-icon> <strong>Stock:</strong>
      {{ product.stock }}
    </p>
    <p>
      <mat-icon>euro_symbol</mat-icon> <strong>Precio:</strong>
      {{ product.price }}
    </p>
    <p>
      <mat-icon>notifications</mat-icon> <strong>Activo:</strong>
      <!-- {{ product.active }} -->
        <span *ngIf="product.active">En stock</span>
        <span *ngIf="!product.active">Agotado</span>
    </p>
    <p>
      <mat-icon>category</mat-icon> <strong>Categoría:</strong>
      {{ product.category_id?.name }}
    </p>
    <p><mat-icon>date_range</mat-icon> <strong>Fecha de colocación:</strong> {{ product.date_added }}</p>
  </mat-card-content>
  <mat-card-actions align = "end">
    <button mat-raised-button color = "primary" type="button" (click)="editProduct()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-raised-button type = "button" (click)="closeProduct()">
      <mat-icon>cancel</mat-icon>
  </button>
  <button mat-raised-button color = "warn" type = "button" (click)="openDeleteDialog(product.id)">
    <mat-icon>delete</mat-icon>
</button>
  </mat-card-actions>
</mat-card>
