<mat-card class="card">
  <mat-card-title>Detalle del contacto</mat-card-title>
  <mat-card-content class="card-content">
    <p>
      <mat-icon>person</mat-icon> <strong>Nombre:</strong> {{ contact.name }}
    </p>
    <p>
      <mat-icon>person</mat-icon> <strong>Primer Apellido:</strong> {{contact.firstsurname}}
    </p>
    <p>
      <mat-icon>person</mat-icon> <strong>Segundo Apellido:</strong> {{ contact.secondsurname }}
    </p>
    <p>
      <mat-icon>phone</mat-icon> <strong>Teléfono:</strong> {{ contact.phonenumber }}
    </p>
    <p>
      <mat-icon>email</mat-icon> <strong>Email:</strong> {{ contact.mail }}
    </p>
  </mat-card-content>
  <mat-card-actions align = "end">
    <button mat-raised-button color = "primary" type="button" (click)="editContact()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-raised-button color = "warn" type = "button" (click)="closeContact()">
      <mat-icon>cancel</mat-icon>
  </button>
  </mat-card-actions>
</mat-card>
