<mat-card class="card">
  <mat-card-title>Detalle del contacto</mat-card-title>
  <mat-card-content class="card-content">
    <p>
      <mat-icon>person</mat-icon> <strong>Nombre:</strong> Pablo
    </p>
    <p>
      <mat-icon>person</mat-icon> <strong>Primer Apellido:</strong> Taibo
    </p>
    <p>
      <mat-icon>person</mat-icon> <strong>Segundo Apellido:</strong> García
    </p>
    <p>
      <mat-icon>phone</mat-icon> <strong>Teléfono:</strong> 657667665
    </p>
    <p>
      <mat-icon>email</mat-icon> <strong>Email:</strong> ptaibo@gmail.com
    </p>
  </mat-card-content>
</mat-card>
